.wrap {
    margin: auto;
    max-width: 1200px;
    width: calc(100% - 40px);
  }

  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }

*{
    font-family: "Montserrat", sans-serif;

}

:root {
    --black: #000000;
    --white: #ffffff;
    --light-green:#9ec33e;
    --dark-green:#4d6b03;
    --dark-grey: #2F2F2F;
  }

