body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

#loginContainer{
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--light-green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-green);
}

#registerMessage {
  margin-top: 10px;
  font-size: 14px;
  color: #d9534f;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

p a {
  color: var(--light-green);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.img-login{
  width: 100%;
  text-align: center;
}

.img-login img{
  width: 80px;
}